In [1]:
import pandas as pd

from alpha_vantage.timeseries import TimeSeries
ts = TimeSeries(key='03OPS6X9MK1TCGAX')


class ScriptData(dict):
    def __init__(self):
        self.script_data = {}
        
    def __setitem__(self, key, value):
        super().__setitem__(key, value)
        
    
    def fetch_intraday_data(self, script):
        data , meta_dat = ts.get_intraday(script)
        self.script_data[script] = data
        
        
    def convert_intraday_data(self, script):
        if not script in self.script_data:
            print("please fetch the data first with fetch_intraday_data(script_name) method")
            return 
        
        
        df = pd.DataFrame.from_dict(self.script_data[script], orient='index')
        df.reset_index(inplace=True)
        ind = df.columns
        newInd = ['timestamp', 'open', 'high', 'low', 'close', 'volume']
        types = {'timestamp':'datetime64','open': 'float','high':'float','low':'float','close':'float','volume':'int'}
        for i in range(len(ind)):
            df.rename(columns = {ind[i]:newInd[i]}, inplace= True)
        df = df.astype(types)
        self.__setitem__(script, df)
        
        
    def getitem(self, item):
        pass
    
    def setitem(self, item):
        pass
    
    def contains(self, script):
        return script in self.script_data

In [2]:
script_data = ScriptData()

In [3]:

script_data.fetch_intraday_data('GOOGL')
script_data.convert_intraday_data('GOOGL')
script_data['GOOGL']

             timestamp     open     high      low    close   volume
0  2023-02-09 11:15:00  95.4550  95.4650  94.5100  95.0200  6918608
1  2023-02-09 11:30:00  95.0250  95.0600  94.2900  94.6801  4341475
2  2023-02-09 11:45:00  94.6850  94.9300  94.1500  94.3200  5092623
3  2023-02-09 12:00:00  94.3150  94.3150  93.8550  94.2000  5848135
4  2023-02-09 12:15:00  94.2050  94.4900  94.0300  94.0350  3706851
5  2023-02-09 12:30:00  94.0400  94.4100  94.0300  94.0900  3769364
6  2023-02-09 12:45:00  94.0900  94.2000  93.6300  93.7300  4309966
7  2023-02-09 13:00:00  93.7362  94.0700  93.6400  94.0500  3047947
8  2023-02-09 13:15:00  94.0500  94.3002  93.9100  94.2500  2631658
9  2023-02-09 13:30:00  94.2500  94.7800  94.0800  94.7450  3191382
10 2023-02-09 13:45:00  94.7450  95.0600  94.4900  94.5600  3411073
11 2023-02-09 14:00:00  94.5650  95.0500  94.5500  94.9900  2395299
12 2023-02-09 14:15:00  94.9800  95.1600  94.3400  94.4900  2557874
13 2023-02-09 14:30:00  94.4936  94.5900  94.0150  94.0500  2413026
14 2023-02-09 14:45:00  94.0500  94.4500  94.0450  94.3050  2296757
15 2023-02-09 15:00:00  94.3050  94.3500  94.1700  94.2600  1709464
16 2023-02-09 15:15:00  94.2500  94.5300  93.9100  94.3450  2544343
17 2023-02-09 15:30:00  94.3500  94.5000  94.2450  94.3100  2376928
18 2023-02-09 15:45:00  94.3200  94.7700  94.2100  94.7450  2998999
19 2023-02-09 16:00:00  94.7450  95.2700  94.5450  94.9800  7591843
20 2023-02-09 16:15:00  95.0200  95.4600  95.0100  95.4000  2410553
21 2023-02-09 16:30:00  95.4190  95.4191  95.2100  95.2500   289338
22 2023-02-09 16:45:00  95.2400  95.3000  95.2000  95.2000    27538
23 2023-02-09 17:00:00  95.1800  95.3500  94.7600  95.3000    91284
24 2023-02-09 17:15:00  95.2300  95.5900  95.2000  95.4400    46810
25 2023-02-09 17:30:00  95.4300  95.4500  95.2800  95.2800    35182
26 2023-02-09 17:45:00  95.3100  95.3500  95.2100  95.2400    18845
27 2023-02-09 18:00:00  95.2000  95.4000  95.0100  95.2000   131200
28 2023-02-09 18:15:00  95.2000  95.3500  95.1600  95.2500    22131
29 2023-02-09 18:30:00  95.3000  95.3700  95.2001  95.3700    27732
..                 ...      ...      ...      ...      ...      ...
70 2023-02-10 12:45:00  94.7700  94.9500  94.4500  94.5700  1638346
71 2023-02-10 13:00:00  94.5800  94.8700  94.5600  94.7550  1119500
72 2023-02-10 13:15:00  94.7500  95.0000  94.7400  94.9500  1302694
73 2023-02-10 13:30:00  94.9400  95.3500  94.9300  95.0300  1296701
74 2023-02-10 13:45:00  95.0202  95.1400  94.8500  94.9100  1026107
75 2023-02-10 14:00:00  94.9100  95.1250  94.8950  94.9059   928501
76 2023-02-10 14:15:00  94.9100  94.9468  94.6900  94.8350  1246801
77 2023-02-10 14:30:00  94.8300  94.9000  94.5000  94.5218  1074120
78 2023-02-10 14:45:00  94.5150  94.7200  94.4307  94.5350  1086887
79 2023-02-10 15:00:00  94.5400  94.7200  94.3900  94.5752  1311404
80 2023-02-10 15:15:00  94.5900  94.6700  94.4400  94.5050  1493808
81 2023-02-10 15:30:00  94.5000  94.5300  94.3000  94.4500  1387143
82 2023-02-10 15:45:00  94.4500  94.6899  94.3700  94.6100  1594145
83 2023-02-10 16:00:00  94.6100  94.7750  94.4000  94.5700  3983755
84 2023-02-10 16:15:00  94.5700  94.5700  94.4400  94.4800  1030148
85 2023-02-10 16:30:00  94.5000  94.5700  94.4500  94.4705    25502
86 2023-02-10 16:45:00  94.5100  94.5300  94.4700  94.5300    26684
87 2023-02-10 17:00:00  94.5300  94.5300  94.5000  94.5300    23592
88 2023-02-10 17:15:00  94.5300  94.5700  94.5100  94.5400    52229
89 2023-02-10 17:30:00  94.5400  94.5450  94.5000  94.5301     7733
90 2023-02-10 17:45:00  94.5362  94.5700  94.5000  94.5500     3712
91 2023-02-10 18:00:00  94.5700  94.5700  94.4917  94.5319    11619
92 2023-02-10 18:15:00  94.5699  94.5700  94.4500  94.5500     9359
93 2023-02-10 18:30:00  94.5500  94.5600  94.5000  94.5000     5653
94 2023-02-10 18:45:00  94.5001  94.5900  94.5001  94.5900     5403
95 2023-02-10 19:00:00  94.5900  94.6600  94.5600  94.6000    11623
96 2023-02-10 19:15:00  94.6500  94.6500  94.6000  94.6200     1361
97 2023-02-10 19:30:00  94.6000  94.6400  94.5800  94.6000     2659
98 2023-02-10 19:45:00  94.5800  94.6800  94.5700  94.6300    11726
99 2023-02-10 20:00:00  94.5900  94.6900  94.5800  94.6900     9188

[100 rows x 6 columns]

In [4]:

script_data.fetch_intraday_data('AAPL')
script_data.convert_intraday_data('AAPL')
script_data['AAPL']

             timestamp      open      high       low     close   volume
0  2023-02-09 11:15:00  153.0769  153.2566  152.3879  153.1963  2074984
1  2023-02-09 11:30:00  153.1817  153.2566  152.4678  152.6375  1722898
2  2023-02-09 11:45:00  152.6574  153.0070  152.4977  152.9470  1642020
3  2023-02-09 12:00:00  152.9371  153.0179  152.6076  153.0069  1143984
4  2023-02-09 12:15:00  153.0070  153.3065  152.9271  153.1018  1206850
5  2023-02-09 12:30:00  153.1068  153.3764  152.8672  152.8798  1306057
6  2023-02-09 12:45:00  152.8772  152.9470  152.1433  152.3180  1660390
7  2023-02-09 13:00:00  152.3080  152.5377  151.9985  152.5017  1183971
8  2023-02-09 13:15:00  152.4977  152.4977  151.8687  152.0186  1143408
9  2023-02-09 13:30:00  152.0085  152.4666  151.9286  152.2082  1071053
10 2023-02-09 13:45:00  152.2321  152.5277  151.9685  152.0684   966350
11 2023-02-09 14:00:00  152.0684  152.1233  151.7089  151.8687   994822
12 2023-02-09 14:15:00  151.8787  152.0884  151.7389  151.9885  1018976
13 2023-02-09 14:30:00  151.9884  152.0284  151.6291  151.7289  1095268
14 2023-02-09 14:45:00  151.7189  151.9586  151.5698  151.7139  1391875
15 2023-02-09 15:00:00  151.7129  151.7788  151.4993  151.5391  1113790
16 2023-02-09 15:15:00  151.5392  151.5592  150.9501  151.0100  1444250
17 2023-02-09 15:30:00  151.0000  151.2097  150.6605  150.7404  1385891
18 2023-02-09 15:45:00  150.7304  150.7684  150.1912  150.7354  1903076
19 2023-02-09 16:00:00  150.7404  151.2496  150.5207  150.6505  5009983
20 2023-02-09 16:15:00  150.6406  150.7304  150.5108  150.5207  2974355
21 2023-02-09 16:30:00  150.5507  150.7404  150.4708  150.7304    24463
22 2023-02-09 16:45:00  150.7404  150.7604  150.6705  150.6805    15751
23 2023-02-09 17:00:00  150.6858  151.3195  150.6406  151.0599   950991
24 2023-02-09 17:15:00  151.0699  151.0699  150.8902  150.8902    16896
25 2023-02-09 17:30:00  150.8902  150.9002  150.8003  150.8103     5049
26 2023-02-09 17:45:00  150.8303  150.8403  150.7903  150.7903     4826
27 2023-02-09 18:00:00  150.8003  150.9002  150.7704  150.8003    13811
28 2023-02-09 18:15:00  150.8003  150.8902  150.6705  150.8602    16809
29 2023-02-09 18:30:00  150.8702  150.9800  150.7005  150.9601     8969
..                 ...       ...       ...       ...       ...      ...
70 2023-02-10 12:45:00  149.7600  150.0800  149.7000  149.8999  1123263
71 2023-02-10 13:00:00  149.8900  150.1900  149.7900  150.1550   915772
72 2023-02-10 13:15:00  150.1550  150.3900  150.0699  150.3350  1133859
73 2023-02-10 13:30:00  150.3399  151.1150  150.3399  150.7600  1680781
74 2023-02-10 13:45:00  150.7700  150.8224  150.3800  150.4650  1186523
75 2023-02-10 14:00:00  150.4617  150.7000  150.3900  150.4600  1113012
76 2023-02-10 14:15:00  150.4650  150.5900  150.2850  150.4872  1338855
77 2023-02-10 14:30:00  150.4800  150.5899  150.2300  150.2350  1058786
78 2023-02-10 14:45:00  150.2400  150.4650  150.0500  150.1900  3701227
79 2023-02-10 15:00:00  150.1900  150.6501  150.0101  150.6500  3745945
80 2023-02-10 15:15:00  150.6600  150.8200  150.4750  150.6950  1507119
81 2023-02-10 15:30:00  150.6900  150.7301  150.2900  150.4700  1140544
82 2023-02-10 15:45:00  150.4700  150.8700  150.4600  150.8101  1752341
83 2023-02-10 16:00:00  150.8150  151.1550  150.7300  151.0200  3766699
84 2023-02-10 16:15:00  151.0100  151.0500  150.9100  151.0100  2632266
85 2023-02-10 16:30:00  151.0100  151.0100  150.9600  151.0000    36874
86 2023-02-10 16:45:00  151.0000  151.0100  150.9100  151.0100    17784
87 2023-02-10 17:00:00  150.9500  150.9500  150.9200  150.9200     8424
88 2023-02-10 17:15:00  150.9300  151.0100  150.9200  150.9300     7615
89 2023-02-10 17:30:00  150.9400  150.9500  150.9100  150.9100     8139
90 2023-02-10 17:45:00  150.9100  151.0000  150.9100  151.0000    14307
91 2023-02-10 18:00:00  151.0000  151.0000  150.9600  150.9900    15361
92 2023-02-10 18:15:00  150.9600  151.0000  150.9600  150.9900     2212
93 2023-02-10 18:30:00  150.9900  151.0000  150.9700  150.9900     6845
94 2023-02-10 18:45:00  150.9900  151.0000  150.9900  150.9900     3304
95 2023-02-10 19:00:00  150.9900  151.0200  150.9900  151.0200     3685
96 2023-02-10 19:15:00  151.0000  151.0000  150.9700  150.9700     1792
97 2023-02-10 19:30:00  150.9900  151.0500  150.9900  151.0400     4900
98 2023-02-10 19:45:00  151.0300  151.0500  151.0100  151.0500     2982
99 2023-02-10 20:00:00  151.0700  151.2600  151.0700  151.2600    14365

[100 rows x 6 columns]

In [5]:
'GOOGL' in script_data

True

In [6]:
'AAPL' in script_data

True

In [7]:
'NVDA' in script_data

False

In [8]:
def indicator1(df, timeperiod):
    
    df2 = pd.DataFrame(df['timestamp'])
    df2['indicator'] = df['close'].rolling(timeperiod).mean()
    return df2[{ 'indicator','timestamp'}]
    
indicator1(script_data['AAPL'], 5)
#script_data['AAPL']

             timestamp  indicator
0  2023-02-09 11:15:00        NaN
1  2023-02-09 11:30:00        NaN
2  2023-02-09 11:45:00        NaN
3  2023-02-09 12:00:00        NaN
4  2023-02-09 12:15:00  152.97790
5  2023-02-09 12:30:00  152.91460
6  2023-02-09 12:45:00  152.85070
7  2023-02-09 13:00:00  152.76164
8  2023-02-09 13:15:00  152.56398
9  2023-02-09 13:30:00  152.38526
10 2023-02-09 13:45:00  152.22298
11 2023-02-09 14:00:00  152.13312
12 2023-02-09 14:15:00  152.03048
13 2023-02-09 14:30:00  151.97254
14 2023-02-09 14:45:00  151.87368
15 2023-02-09 15:00:00  151.76782
16 2023-02-09 15:15:00  151.59608
17 2023-02-09 15:30:00  151.34646
18 2023-02-09 15:45:00  151.14776
19 2023-02-09 16:00:00  150.93508
20 2023-02-09 16:15:00  150.73140
21 2023-02-09 16:30:00  150.67548
22 2023-02-09 16:45:00  150.66350
23 2023-02-09 17:00:00  150.72840
24 2023-02-09 17:15:00  150.77634
25 2023-02-09 17:30:00  150.83426
26 2023-02-09 17:45:00  150.84624
27 2023-02-09 18:00:00  150.87020
28 2023-02-09 18:15:00  150.83026
29 2023-02-09 18:30:00  150.84424
..                 ...        ...
70 2023-02-10 12:45:00  149.84858
71 2023-02-10 13:00:00  149.85758
72 2023-02-10 13:15:00  149.96058
73 2023-02-10 13:30:00  150.18258
74 2023-02-10 13:45:00  150.32298
75 2023-02-10 14:00:00  150.43500
76 2023-02-10 14:15:00  150.50144
77 2023-02-10 14:30:00  150.48144
78 2023-02-10 14:45:00  150.36744
79 2023-02-10 15:00:00  150.40444
80 2023-02-10 15:15:00  150.45144
81 2023-02-10 15:30:00  150.44800
82 2023-02-10 15:45:00  150.56302
83 2023-02-10 16:00:00  150.72902
84 2023-02-10 16:15:00  150.80102
85 2023-02-10 16:30:00  150.86202
86 2023-02-10 16:45:00  150.97002
87 2023-02-10 17:00:00  150.99200
88 2023-02-10 17:15:00  150.97400
89 2023-02-10 17:30:00  150.95400
90 2023-02-10 17:45:00  150.95400
91 2023-02-10 18:00:00  150.95000
92 2023-02-10 18:15:00  150.96400
93 2023-02-10 18:30:00  150.97600
94 2023-02-10 18:45:00  150.99200
95 2023-02-10 19:00:00  150.99600
96 2023-02-10 19:15:00  150.99200
97 2023-02-10 19:30:00  151.00200
98 2023-02-10 19:45:00  151.01400
99 2023-02-10 20:00:00  151.06800

[100 rows x 2 columns]

In [9]:
class Strategy:
    def __init__(self, script):
        self.script = script
    
    def get_script_data(self):
        script_data = ScriptData()
        script_data.fetch_intraday_data(self.script)
        script_data.convert_intraday_data(self.script)
        self.data = script_data[self.script]
        self.close_data = self.data['close']
        self.indicator = indicator1(self.data, 5)
        
        
    
    def get_signals(self):
        df = pd.DataFrame(self.data[{'close','timestamp' }])
        df['indicator'] = self.indicator['indicator']
        df.dropna(inplace=True)
                
        def fun(close, indicator):
            i, j = close, indicator
            if j > i:
                return 'high'
            elif j < i:
                return 'low'
            else:
                return 'equal'
              
        df['relative'] = df.apply(lambda df: fun(df['close'], df['indicator']), axis= 1)
        
        
        arr = []
        rel = list(df['relative'])
        time = list(df['timestamp'])
        
        for i in range(1, len(df['relative'])):
            if rel[i-1] == 'high' and rel[i] == 'low':
                arr.append([time[i], 'SELL'])
            elif rel[i-1] == 'low' and rel[i] == 'high':
                arr.append([time[i], 'BUY'])
        
        df = pd.DataFrame(arr)
        df.rename(columns = {0:'timestamp', 1:'signal'}, inplace= True) 
        return df
            
            
        
        
    
strategy = Strategy('MSFT')
strategy.get_script_data()
strategy.get_signals()

             timestamp signal
0  2023-02-09 12:30:00    BUY
1  2023-02-09 14:45:00   SELL
2  2023-02-09 15:00:00    BUY
3  2023-02-09 16:30:00   SELL
4  2023-02-09 17:15:00    BUY
5  2023-02-09 19:00:00   SELL
6  2023-02-09 19:15:00    BUY
7  2023-02-09 20:00:00   SELL
8  2023-02-10 04:30:00    BUY
9  2023-02-10 07:15:00   SELL
10 2023-02-10 10:45:00    BUY
11 2023-02-10 11:30:00   SELL
12 2023-02-10 11:45:00    BUY
13 2023-02-10 13:00:00   SELL
14 2023-02-10 14:00:00    BUY
15 2023-02-10 14:15:00   SELL
16 2023-02-10 14:30:00    BUY
17 2023-02-10 15:00:00   SELL
18 2023-02-10 18:15:00    BUY
19 2023-02-10 18:45:00   SELL